stages: 
  - dast 
zap_dast_scan:
  stage: dast
  image: zaproxy/zap-stable:latest
  tags:
    - centos   
  variables:
    APP_URL: https://localhost:80
    APP_URL: http://localhost:8888
    APP_URL: http://localhost:80  # Replace with correct hostname/port
  script:
    - echo "Starting ZAP DAST scan against ${APP_URL}"
    - zap-baseline.py -t ${APP_URL} -r zap_report.html
    - ls -l  # Show that the report exists
  artifacts:
    paths:
      - zap_report.html
    expire_in: 1 week
  after_script:
    - docker-compose down # Optional: clean up deployment
  only:
    - main