stages:
  - sca

# --- SCA ---
snyk-sca:
  stage: sca
  image: node:18
  script:
    - npm install -g snyk
    - snyk auth $SNYK_TOKEN
    - snyk test --json --exit-code=0 > snyk-sca-report.json
  artifacts:
    paths:
      - snyk-sca-report.json
    reports:
      dependency_scanning: snyk-sca-report.json
  variables:
    SNYK_TOKEN: $SNYK_TOKEN
  only:
    - merge_requests
    - main
