stages:
  - scan
zap_dast_scan:
  stage: scan
  tags:
    - centos
  variables:
    APP_URL: "https://localhost:8888"
    APP_URL: "http://localhost:80"
    APP_URL: "https://localhost:80"  # Or correct URL/protocol/port for your app
  script:
    - echo "Running ZAP baseline scan against $APP_URL"
    - mkdir -p zap-reports
    - chmod 777 zap-reports
    - docker run --rm --network="host" -v $(pwd)/zap-reports:/zap/wrk/:rw zaproxy/zap-stable zap-baseline.py -t $APP_URL -r report.html || true
  artifacts:
    paths:
      - zap-reports/report.html
    expire_in: 1 week
