stages:
  - sast

# --- SAST ---
snyk-sast:
  stage: sast
  image: node:18
  script:
    - npm install -g snyk
    - npm install snyk-to-html -g
    - snyk auth $SNYK_TOKEN
    - snyk code test --json --exit-code=0 > snyk-report.json
  artifacts:
    paths: 
      - snyk-report.json
    reports:
      sast: snyk-report.json
  variables: 
    SNYK_TOKEN: $SNYK_TOKEN
  only:
    - merge_requests
    - main
  
  
# --- SAST ---