stages:
  - Secret_scanning
  - SCA
  - SAST
  - Image_building
  - Image_scanning
  - Container_scanning
  - DAST
  - Vulnerability_management
 
# 1. Secret Scanning
gitleaks_scan:
  stage: Secret_scanning
  image:
    name: zricethezav/gitleaks    
    entrypoint: [""]
  script:
    - gitleaks detect --source . --report-format json --report-path gitleaks-report.json --verbose || true
  artifacts:
    paths:
      - gitleaks-report.json
    when: always

# 2. SCA (Software Composition Analysis)     
trivy_sca:
  stage: SCA
  image: alpine:latest 
  before_script:
    - apk add --no-cache curl
    - curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
  script:
    - trivy fs --scanners vuln,license --vuln-type library --format json --output sca_report.json .
  artifacts:
    paths:
      - sca_report.json

# 3. SAST (Static Application Security Testing)
snyk_sast:
  stage: SAST
  image: node:18
  before_script:
    - npm install -g snyk snyk-to-html
  script:
    - snyk auth $SNYK_TOKEN
    - snyk code test --json > snyk-report.json || echo "Snyk found vulnerabilities - check report"
    - echo "Checking if snyk-report.json was created..."
    - ls -la snyk-report.json || echo "snyk-report.json not found"
    - test -s snyk-report.json && echo "snyk-report.json has content" || echo "snyk-report.json is empty or missing"
  artifacts:
    when: always
    paths:
      - snyk-report.json
    reports:
      sast: snyk-report.json

# 4. Building Image
build:
  stage: Image_building
  tags:
    - ubuntu
  script:
    - echo "Building containers using Docker Compose with caching..."
    - docker compose -f .build/docker-compose.yml build
    - docker compose -f .build/docker-compose.yml up -d

#5 Image scanning
trivy_scan: 
  stage: Image_scanning
  tags:
    - ubuntu
  variables:
    TRIVY_SEVERITY: "UNKNOWN,LOW,MEDIUM,HIGH,CRITICAL"
  script:
    - echo "Scanning Docker images..."
    - mkdir -p image_reports
    - |
      IMAGES=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep -v "<none>")
      [ -z "$IMAGES" ] && { echo "No images found"; exit 1; }

      for image in $IMAGES; do
        name=$(echo "$image" | tr '/:' '_')
        echo "Scanning image: $image"
        trivy image --format json --severity "$TRIVY_SEVERITY" "$image" -o "image_reports/image_${name}.json"
      done
      echo "Scan complete. Reports saved in image_reports/."
  artifacts:
    paths:
      - image_reports/
    expire_in: 1 week
  cache:
    paths:
      - /root/.cache/trivy

# 6. Container Security Scanning
container_runtime_scan:
  stage: Container_scanning
  tags:
    - ubuntu 
  script:
    - echo "Installing Trivy if not present..."
    - |
      if ! command -v trivy &> /dev/null; then
        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b /usr/local/bin
      fi
    - mkdir -p container_reports
    - echo "Scanning running containers using Trivy (runtime scan)..."
    - |
      for container in $(docker ps -q); do
        pid=$(docker inspect --format '{{.State.Pid}}' "$container")
        name=$(docker inspect --format '{{.Name}}' "$container" | sed 's/^\/\|\/$//g')
        echo "Scanning container $name (PID: $pid)..."
        trivy fs "/proc/$pid/root" --format json -o "container_reports/container_${name}.json" || echo " Failed to scan $name"
      done
  artifacts:
    paths:
      - container_reports/
    expire_in: 1 week



# 7. DAST (Dynamic Application Security Testing)
variables:
  DEPENDENCY_CHECK: "/opt/dependency-check/dependency-check/bin/dependency-check.sh"
  ZAP_REPORT_HTML: "dast_report.html"   
  ZAP_REPORT_XML: "dast_report.xml"     
  ZAP_REPORT_JSON: "dast_report.json"   
  TARGET_URL: "http://192.168.154.130:80"

zap_dast_scan:
  stage: DAST
  tags:
    - ubuntu
  script:
    - echo "Running ZAP Baseline DAST Scan..."
    - |
      docker run --rm \
        --network host \
        -u root \
        -v "$CI_PROJECT_DIR:/zap/wrk/:rw" \
        zaproxy/zap-stable \
        zap-baseline.py -t "$TARGET_URL" \
        -r "$ZAP_REPORT_HTML" \
        -x "$ZAP_REPORT_XML" \
        -J "$ZAP_REPORT_JSON" || true
    - echo "ZAP Scan completed. Generated files:"
    - ls -l
  artifacts:
    paths:
      - $ZAP_REPORT_HTML
      - $ZAP_REPORT_XML
      - $ZAP_REPORT_JSON
    when: always
    expire_in: 1 week

# 8. DefectDojo Upload - Separate jobs for each scan type

upload_gitleaks_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - python3 -m pip install --upgrade pip
    - python3 -m pip install requests
  script:
    - |
      if [ -f "gitleaks-report.json" ]; then
        echo "Uploading gitleaks report..."
        python3 upload_reports.py gitleaks-report.json
      else
        echo "gitleaks-report.json not found"
        exit 1
      fi
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL
  needs: 
    - job: gitleaks_scan
      artifacts: true
  allow_failure: true

upload_sca_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - python3 -m pip install --upgrade pip
    - python3 -m pip install requests
  script:
    - |
      if [ -f "sca_report.json" ]; then
        echo "Uploading trivy SCA report..."
        python3 upload_reports.py sca_report.json
      else
        echo "sca_report.json not found"
        exit 1
      fi
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL
  needs:
    - job: trivy_sca
      artifacts: true
  allow_failure: true

upload_sast_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - python3 -m pip install --upgrade pip
    - python3 -m pip install requests
  script:
    - |
      if [ -f "snyk-report.json" ]; then
        echo "Uploading snyk SAST report..."
        python3 upload_reports.py snyk-report.json
      else
        echo "snyk-report.json not found"
        exit 1
      fi
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL
  needs:
    - job: snyk_sast
      artifacts: true
  allow_failure: true

upload_image_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install requests
  script:
    - python3 upload_reports.py image_reports/*.json
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL
  dependencies:
    - trivy_scan


upload_container_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - pip install --upgrade pip
    - pip install requests
  script:
    - |
      for report in container_reports/*.json; do
        echo "Uploading $report"
        python3 upload_reports.py "$report"
      done
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL
  dependencies:
    - container_runtime_scan
  artifacts:
    when: always

upload_dast_to_defectdojo:
  stage: Vulnerability_management
  image: python:3.11
  before_script:
    - python3 -m pip install --upgrade pip
    - python3 -m pip install requests
  script:
    - |
      if [ -f "dast_report.xml" ]; then
        echo "Uploading ZAP DAST report..."
        python3 upload_reports.py dast_report.xml
      else
        echo "dast_report.json not found"
        exit 1
      fi
  variables:
    DEFECTDOJO_API_KEY: $DEFECTDOJO_API_KEY
    DEFECTDOJO_ENGAGEMENT_ID: $DEFECTDOJO_ENGAGEMENT_ID
    DEFECTDOJO_API_URL: $DEFECTDOJO_API_URL  
  needs:
    - job: zap_dast_scan
      artifacts: true  
  allow_failure: true 