stages:
  - secret_scan
gitleaks_scan:
  stage: secret_scan
  image:
    name: zricethezav/gitleaks
    entrypoint: [""]
  script:
    - gitleaks detect --source . --report-format json --report-path gitleaks-report.json --verbose
  artifacts:
    paths:
      - gitleaks-report.json
    when: always
  allow_failure: true
