stages:
  - dependency_scanning

snyk-sca:
  stage: dependency_scanning
  image: node:18
  before_script:
    - npm install -g snyk
  script:
    - snyk auth $SNYK_TOKEN
    - ls -la
    - snyk test --json > snyk-sca-report.json || true
  artifacts:
    paths:
      - snyk-sca-report.json
  variables:
    SNYK_TOKEN: $SNYK_TOKEN